* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

body {
    transition: 1s all;
}

header {
    background-color: gray;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header ul a {
    color: white;
}

main {
    padding: 20px;
}

#banner {
    text-align: center;
    background-color: steelblue;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#productos {
    padding: 20px;
}

#productos img {
    width: 150px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

#productos h2 {
    text-align: center;
    padding-bottom: 20px;
}

#productos .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    padding: 20px;
}

.producto a {
    padding: 8px 20px;
    background-color: lightblue;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    color: black;
    text-align: center;
    margin-top: 10px;
}

#contacto {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
}

#contacto h2 {
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
}

form button {
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#boton-cambiar-modo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

body.modo-oscuro {
    background-color: #121212;
    color: white;
}

body.modo-oscuro header {
    background-color: darkred;
}

body.modo-oscuro #banner {
    background-color: darkgrey;
}

body.modo-oscuro .producto {
    background-color: #333;
}

body.modo-oscuro #contacto {
    background-color: #222;
}

body.modo-oscuro #boton-cambiar-modo {
    background-color: white;
    color: black;
}